@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,300;0,400;0,500;1,300&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  background-color: #f7f2e9;
  font-family: "Roboto Mono", sans-serif;
}

.nav-content {
  display: flex;
}

.navbar-logo {
  height: 50px;
  width: 130px;
  border-radius: 5px;
  margin: 20px 50px;
}

.menu {
  margin: 100px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

.foods {
  display: grid;

  gap: 2rem;
}

.food {
  display: flex;
  gap: 3rem;
}

.food img {
  width: 12rem;
  aspect-ratio: 1;
  border-radius: 5px;
}

.food div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0.8rem;
}

.food span .btn-quantity-add {
  background-color: #087f5b;
  color: #fff;
}

.food span .btn-quantity {
  border: 3px solid #087f5b;
  border-radius: 5px;
  padding: 3px 8px;
  font-weight: 500;
}

.food .order-btn {
  margin-top: px;
  background-color: #087f5b;
  color: #fff;
  border: none;
  padding: 8px;
  width: 12rem;
  border-radius: 5px;
  font-weight: 500;
}
